<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>com.login.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotVerify</servlet-name>
        <servlet-class>com.login.ForgotVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.home.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDetails</servlet-name>
        <servlet-class>com.home.AddDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDetailsServlet</servlet-name>
        <servlet-class>com.home.AddDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.login.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFiles</servlet-name>
        <servlet-class>com.home.AddFiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFilesServlet</servlet-name>
        <servlet-class>com.home.AddFilesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGallery</servlet-name>
        <servlet-class>com.home.ViewGallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImagesData</servlet-name>
        <servlet-class>com.home.ImagesData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RerfreshServlet</servlet-name>
        <servlet-class>com.home.RerfreshServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewResume</servlet-name>
        <servlet-class>com.home.ViewResume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResumeData</servlet-name>
        <servlet-class>com.home.ResumeData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventsHistory</servlet-name>
        <servlet-class>com.home.EventsHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryData</servlet-name>
        <servlet-class>com.home.HistoryData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotVerify</servlet-name>
        <url-pattern>/ForgotVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDetails</servlet-name>
        <url-pattern>/AddDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDetailsServlet</servlet-name>
        <url-pattern>/AddDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFiles</servlet-name>
        <url-pattern>/AddFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFilesServlet</servlet-name>
        <url-pattern>/AddFilesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGallery</servlet-name>
        <url-pattern>/ViewGallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImagesData</servlet-name>
        <url-pattern>/ImagesData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RerfreshServlet</servlet-name>
        <url-pattern>/RerfreshServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewResume</servlet-name>
        <url-pattern>/ViewResume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResumeData</servlet-name>
        <url-pattern>/ResumeData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventsHistory</servlet-name>
        <url-pattern>/EventsHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryData</servlet-name>
        <url-pattern>/HistoryData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
